streamlit==1.45.0
transformers==4.51.3
huggingface-hub==0.31.1
requests==2.32.3
youtube-search-python==1.5.1
nltk==3.9.1
pandas==2.2.3
python-dateutil==2.9.0.post0
tqdm==4.67.1
regex==2024.11.6
